{% extends 'global/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<section class="content">
    <div class="content_header">
        <h1 class="title_hero">Dashboard</h1>
    </div>
    <div class="cards">
        <div class="card rendas">
            <h3>Rendas</h3>
            <span><i class="bi bi-cash-stack"></i> R$ {{ total_rendas.total }}</span>
        </div>
        <div class="card investimentos">
            <h3>Investimentos</h3>
            <span><i class="bi bi-graph-up"></i> R$ {{ total_investimentos.total }}</span>
        </div>
        <div class="card gastos">
            <h3>Gastos</h3>
            <span><i class="bi bi-credit-card-fill"></i> R$ {{ total_gastos.total }}</span>
        </div>
        <div class="card sem-track">
            <h3>Sem Lançamento</h3>
            <span><i class="bi bi-question-circle-fill"></i> R$ {{ sem_lancamento }}</span>
        </div>
    </div>
    <div class="charts">
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="chart">
            <canvas id="myChart2"></canvas>
        </div>
        <div class="chart">
            <canvas id="myChart3"></canvas>
        </div>
        <div class="chart">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
</section>
{% endblock content %}
{% block scripts %}
<script src="{% static 'global/js/chart_line_mychart1.js' %}"></script>
<script src="{% static 'global/js/chart_bar_mychart2.js' %}"></script>
<script src="{% static 'global/js/chart_bar_mychart3.js' %}"></script>
<script src="{% static 'global/js/chart_bar_mychart4.js' %}"></script>
<script src="{% static 'global/js/filter.js' %}"></script>
{% endblock scripts %}