@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  @apply bg-neutral_ligth_gray text-neutral_dark_gray;
}

main {
  @apply w-full flex;
}

aside {
  @apply bg-primary text-neutral-800 h-screen;
  @apply p-4;
}

.sidebar {
  @apply flex flex-col items-center justify-between;
  @apply w-56;
}

.sidebar > nav {
  @apply flex flex-col items-start justify-center gap-8;
}

.sidebar > nav > a {
  @apply flex gap-4 items-center justify-center font-bold text-xl text-neutral-800;
}

.dropdown > button {
  @apply flex gap-4 items-center justify-center font-bold text-xl text-neutral-800;
}

.dropdown {
  @apply relative w-full;
}

.drop-links {
  @apply flex flex-col items-start justify-center gap-2;
  @apply w-48 p-2 rounded bg-neutral_dark_gray text-neutral_ligth font-normal;
  @apply hidden absolute;
  top: 0;
  right: 0;
  transform: translate(110%, 0);
}

.side_btn {
  @apply font-semibold text-lg;
}

.title_hero {
  @apply text-neutral-800 font-bold text-2xl;
}

.content {
  @apply w-full h-auto;
}

.content_header {
  @apply w-full bg-neutral_ligth p-4 shadow-lg;
}

.cards {
  @apply w-full p-4 flex items-center justify-between;
}

.card {
  @apply w-[20%] p-4 bg-neutral_ligth rounded shadow-lg;
  @apply text-2xl;
}

.card > h3 {
  @apply text-center font-normal mb-4;
}

.card > span {
  @apply flex items-center justify-center gap-5 font-semibold;
}

.charts {
  @apply w-full h-3/4 p-4;
  @apply flex flex-wrap items-start justify-between gap-2;
}

.chart {
  @apply w-[40%] p-2 bg-neutral_ligth rounded shadow-lg;
}

/* 
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-primary_bg rounded-sm;
}

::-webkit-scrollbar-thumb {
  @apply bg-heading rounded-sm;
} */

.success {
  @apply bg-green-400 rounded text-white px-4 py-2;
}

.error {
  @apply bg-red-400 rounded text-white px-4 py-2;
}

.debug {
  @apply bg-yellow-400 rounded text-white px-4 py-2;
}

.info {
  @apply bg-blue-400 rounded text-white px-4 py-2;
}

.animated-link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.animated-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.animated-link:hover::after {
  left: 0;
  width: 100%;
}

.animated-link-black {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.animated-link-black::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #111111;
  transition: all 0.3s ease;
}

.animated-link-black:hover::after {
  left: 0;
  width: 100%;
}
