<aside class="sidebar">
    <h2>Capital Care</h2>
    <nav>
        <a class="side_btn animated-link" href="{% url "dashboard:index" %}">Dashboard</a>
        <div class="dropdown">
            <button class="side_btn animated-link">Rendas</button>
            <div class="drop-links">
                <a class="animated-link-black" href="{% url "rendas:rendas_list" %}">Lista de Rendas</a>
                <a class="animated-link-black" href="">Adicionar Rendas</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="side_btn animated-link">Investimentos</button>
            <div class="drop-links">
                <a class="animated-link-black" href="">Lista de Investimentos</a>
                <a class="animated-link-black" href="">Adicionar Investimentos</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="side_btn animated-link">Gastos</button>
            <div class="drop-links">
                <a class="animated-link-black" href="">Lista de Gastos</a>
                <a class="animated-link-black" href="">Adicionar Gastos</a>
            </div>
        </div>
    </nav>
    <div class="links">
        <a href="">Perfil</a>
        <a href="">Sair</a>
    </div>
</aside>