{% extends 'global/home.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<section id="home" class="section section-banner">
    <h1>Baner</h1>
</section>

<!-- Recursos -->
<section id="features" class="section section-features">
    <h1>Features</h1>
</section>

<!-- Como Funciona -->
<section id="how-it-works" class="section section-how-it-works">
    <h1>Como Funciona</h1>
</section>

<!-- Depoimentos -->
<section id="testimonials" class="section section-testimonials">
    <h1>Depoimentos</h1>
</section>

<!-- Preços -->
<section id="pricing" class="section section-pricing">
    <h1>Pricing</h1>
</section>

<!-- Contato -->
<section id="contact" class="section section-contact">
    <h1>Contato</h1>
</section>

<footer class="footer">
    <span>CapitalCare</span>
    <div class="links">
        <span>Desenvolvido por Philip Persan</span>
        <a href="">Linkedin</a>
        <a href="">GitHub</a>
    </div>
</footer>
{% endblock content %}