{% extends 'global/home.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<section id="login" class="section">
    <div class="form">
        <h1>Faça Login</h1>
        <form action="{% url 'home:login' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form_group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </div>
            {% endfor %}
            <button class="btn-p" type="submit">Entrar</button>
        </form>
    </div>
</section>
{% endblock content %}