{% extends 'global/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "css/investimentos.css" %}">
{% endblock style %}
{% block title %}Invesitmentos{% endblock title %}
{% block content %}
<section>
    <h1>Criar Invesitmento</h1>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <span class="{{ message.tags }}">{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="edit_investimentos">
        <h2 class="table_title">Criar Investimento</h2>
        <form action="{% url "investimentos:investimentos_create" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ request.user }}">
            {% for field in form %}
                <div class="form_group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Salvar</button>
            <a href="{% url "investimentos:investimentos_list" %}">Voltar</a>
        </form>
    </div>
    <div class="edit_investimentos">
        <h2 class="table_title">Criar Tipo de Investimento</h2>
        <form action="{% url "investimentos:tipo_create" %}" method="post">
            {% csrf_token %}
            {% for field in form_tipo %}
                <div class="form_group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Salvar</button>
        </form>
        <ul>
            {% for tipo in tipos %}
                <li>{{ tipo }} <a href="{% url "investimentos:tipo_delete" tipo.id %}"><i class="bi bi-x-circle-fill"></i></a></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock content %}
{% block scripts %}
<script src="{% static 'global/js/dropdowns.js' %}"></script>
<script src="{% static 'global/js/filter.js' %}"></script>
{% endblock scripts %}