{% extends 'global/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "css/investimentos.css" %}">
{% endblock style %}
{% block title %}Invesitmentos{% endblock title %}
{% block content %}
<section>
    <h1>Apagar Invesitmento</h1>
    <h1>{{ investimento }}</h1>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <span class="{{ message.tags }}">{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="edit_investimentos">
        <h2 class="table_title">Apagar Investimento?</h2>
        <ul>
            <li>Tipo: {{ investimento.tipo }}</li>
            <li>Valor: R$ {{ investimento.valor }}</li>
            <li>Data: {{ investimento.data|date:"SHORT_DATE_FORMAT" }}</li>
            <li>Operação: {{ investimento.operacao }}</li>
            <li>Ativo: {{ investimento.ativo }}</li>
            <li>Observação: {{ investimento.obs }}</li>
        </ul>
        <form action="{% url "investimentos:investimentos_delete" investimento.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user }}">
            <input type="hidden" name="id" value="{{ investimento.id }}">
            <button type="submit">Apagar</button>
            <a href="{% url "investimentos:investimentos_list" %}">Voltar</a>
        </form>
    </div>
</section>
{% endblock content %}
{% block scripts %}
<script src="{% static 'global/js/dropdowns.js' %}"></script>
<script src="{% static 'global/js/filter.js' %}"></script>
{% endblock scripts %}