{% extends 'global/base.html' %}
{% load static %}
{% block title %}Criar Renda{% endblock title %}
{% block content %}
<section class="section_container">
    <div class="content_header">
        <h1 class="title_hero">Criar Renda</h1>
        {% include "global/partials/messages.html" %}
    </div>
    <div class="create_objects">
        <div class="form_create pd-bg-sh">
            <h1>Criar Renda</h1>
            <form action="{% url "rendas:rendas_create" %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="model" value="create_renda">
                {% for field in form_renda %}
                <div class="form_group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button class="btn-s" type="submit">Criar</button>
            </form>
        </div>
        <div class="form_create pd-bg-sh">
            <h1>Criar Tipo de Renda</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="model" value="create_tipo_renda">
                {% for field in form_tipo_renda %}
                <div class="form_group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button class="btn-s" type="submit">Criar</button>
            </form>
            <h2>Tipos de Renda</h2>
            <div class="tipos">
                <ul>
                    {% for tipo in tipos_renda %}
                        <li>{{tipo.nome}} <a href="{% url "rendas:tipo_rendas_delete" tipo.id %}"><i class="bi bi-x-circle-fill"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}